= javascript_include_tag "tools/datepicker"
= javascript_include_tag "behavior/main/form_behavior"
= stylesheet_link_tag    "form", :media => "all"
#sections
  = link_to 'Статья', new_article_path(), :class => 'button', :id => 'article_section'
  = link_to 'Событие', new_event_path(), :class => 'section', :id => 'event_section'
  = link_to 'Место', new_place_path(), :class => 'section', :id => 'place_section'
  = link_to 'Проект', new_project_path(), :class => 'section', :id => 'project_section'




#article_fields.hidden
  = render :partial => 'articles/form', :locals => {:article => @article}
#event_fields.hidden
  = render :partial => 'events/form', :locals => {:event => @event}
#place_fields.hidden
  = render :partial => 'places/form', :locals => {:place => @place}
#project_fields.hidden
  = render :partial => 'projects/form', :locals => {:project => @project}


