= javascript_include_tag "behavior/main/form_behavior"
= stylesheet_link_tag    "form", :media => "all"
= flash[:errors]

- if @thing and @thing.errors
  .error_block
    - @thing.errors.each do |error|
      .error= error.to_s


= form_for :element,  :as => :article, :url => main_form_path do |f|
  = f.label :category_id, 'Категория'
  = f.select :category_id, Category.all.map{|e| [e.name, e.id]}
  %br
  = f.label "section", 'Раздел'
  = f.select "section", [["",""]] + @sections.map{|key, val| [val, key]}
  %br
  = f.label :name, 'Название'
  = f.text_field :name
  #type_fields.hidden
    %br
    = f.label :type_id, 'Тип'
    = f.select :type_id, ["",""],{}, :class => 'field_with_button'
    %img.plus#type_plus_btn{:src => '/images/plus.png'}
  #new_type_fields.hidden.active_block
    = text_field_tag(:type_name, nil, :id => 'type_name',:placeholder => 'введите название типа')
    = f.submit "Добавить", :id => 'add_type'

  #article_fields.hidden
    %br
    = f.label 'article[autor]', 'Автор'
    = f.text_field 'article[autor]'
    %br
    .textarea_block
      = f.label 'article[body]', 'Содержание'
      = f.text_area 'article[body]'
    %br
    .textarea_block
      = f.label 'article[sources]', 'Источники'
      = f.text_area 'article[sources]'

  #event_fields.hidden
    %br
    = f.label 'event[begin_date]', 'дата начала'
    = f.text_field 'event[begin_date]'
    %br
    = f.label 'event[end_date]', 'дата конца'
    = f.text_field 'event[end_date]'
    %br
    .field_block.textarea_block
      = f.label 'event[description]', 'Описание'
      = f.text_area 'event[description]'
    %br
    .textarea_block
      = f.label 'event[web_links]', 'Источники'
      = f.text_area 'event[web_links]'

  #place_fields.hidden
    %br
    .textarea_block
      = f.label 'place[description]', 'Описание'
      = f.text_area 'place[description]'
    %br
    .textarea_block
      = f.label 'place[web_links]', 'Источники'
      = f.text_area 'place[web_links]'

  #project_fields.hidden
    %br
    .textarea_block
      = f.label 'project[description]', 'Содержание'
      = f.text_area 'project[description]'
    %br
    .textarea_block
      = f.label 'project[web_links]', 'Источники'
      = f.text_area 'project[web_links]'


  %br
  = f.label :picture, 'Фото'
  = f.file_field :picture
  %br
  = f.submit "Сохранить"
