= javascript_include_tag "main/index"
.heder
  .left
    = "Днепровский Перекрёсток"
  .right
    = 'Картинка солнышка'
    = '+18C' 
    &deg;
    
= render :partial => 'sections', :locals => {:sections => @sections}

.main 	
  - @categories.each do |category|
    .category
      %span.menu_item{:children => category.name + "children"}
        = link_to category.name, category_path(category)
      %ul{:id => category.name + "children"}
        - category.children.each do |child|
          %li= link_to child.name, category_path(child)

.team
  %span Команда
  %span
    %b Crossroad