= javascript_include_tag "behavior/main/index"
.heder
  #header_name.left
    = "Днепровский Перекрёсток"
  #weather.right
    = 'Картинка солнышка'
    = '+18C' 
    &deg;
    
.main_page_block
  = render :partial => 'sections', :locals => {:sections => @sections}

.team
  %span Команда
  %span
    %b Crossroad