= javascript_include_tag "behavior/main/section_page_behavior"
= javascript_include_tag "behavior/main/filter_behavior"
= render :partial => '/main/map_includes'
= javascript_include_tag "behavior/categories/map_behavior"
#filters.hidden{:data => "#{@filters.map{|e| e.to_json}}"}
.main_block
  #section_name
    %img.icon#sections_selector{:src => '/4.jpg', :width=>"35", :height=>"35"}
    %span= @section[1]
    = render :partial => 'sections', :locals => {:sections => @sections}
  .main_left
    .category_block
      %span Категории
      - @categories.each do |category|
        .category
          %span.menu_item{:children => category.name + "children"}
            = link_to category.name, category_path(category), :class => 'category_item', :id => "category_#{category.id}", :data => category.id
          %ul{:id => category.name + "children"}
            - category.children.each do |child|
              %li= link_to child.name, category_path(child), :class => 'category_item', :id => "category_#{child.id}" , :data => child.id

    = render :partial => 'filters', :locals => {:types => @types}
  .main_right
    .view
      .list_view_icon#view2
      .thumb_view_icon#view1
      .grid_view_icon#view3

      - unless ['person', 'article', 'project'].include? @section[0]
        %img.icon#map_show_btn{:src => '/6.png'}
    .content
      #map_block.hidden
        #map_close_btn
        #map_container
      .content_block{:id => "#{@section[0]}_content"}
        = render :partial => "/#{@section[0].pluralize}/content", :locals => {:content => @content}
        = paginate @content