.main 	
  .category
    %span.menu_item{:children => "test1"}
      = link_to "Культура", "#"
    %ul{:id => "test1" }
      %li= link_to 'Театр', "#"
      %li= link_to 'Кино', "#"
      %li= link_to 'Музыка', "#"
      %li= link_to 'Литература', "#"