%ul.items.thumb
  - content.each do |item|
    %li.item
      =link_to '<img class="icon" src="/1.jpeg" width="65" height="65" />'.html_safe, article_path(item)
      .item_info 
        %span.item_name=  link_to item.name, article_path(item)
        %p 
          = item.category.name
          %br
          = item.type.name
          %br
          = item.date
      .body
        = item.body if item.body