.main_block
  #picture
    = link_to image_tag(@article.picture.url(:medium)), article_path(@article)
  #article_name
    %span= @article.name
  #article_info
    %span= @article.category.name
    %br
    %span= @article.type.name if @article.type
  %br
  #article_body
    %span= @article.body.html_safe
  %br
  .autor
    - info = @article.author_info
    - if info[:id]
      = link_to info[:info], person_path(info[:id])
    -else
      = info[:info]
  #article_source
    %span= @article.sources
    %br
    %span= @article.posted_at.strftime("%d.%m.%Y")