%ul.items.thumb
  - content.each do |item|
    %li.item{:category => "category_#{item.category_id}"}
      = link_to "<img class='icon' src='#{ item.picture.url(:thumb) || '/1.jpeg'}' width='65' height='65' />".html_safe, event_path(item)
      .item_info 
        %span.item_name= link_to item.name, event_path(item)
        %p 
          = item.category.name
          %br
          = item.type.name
          %br
        .period
          = item.begin_date.strftime(" %H:%M %d.%m.%Y")
          %br
          = item.end_date.strftime(" %H:%M %d.%m.%Y")
      .description
        = item.description[1..100]
        %br
        = item.created_at.strftime(" %H:%M %d.%m.%Y")