.main_block
  #picture
    = link_to image_tag(@event.picture.url(:medium)), event_path(@event)
  #event_name
    %span= @event.name
  %br
  #event_info
    %span= @event.category.name
    %br
    %span= @event.type.name
    %br
    %span= @event.start_at.strftime(" %H:%M %d.%m.%Y")
    = "-"
    %span= @event.end_at.strftime(" %H:%M %d.%m.%Y")
  %br
  #event_body
    %span= @event.description
  %br
  #event_source
    %span= @event.web_links
    %br
    %span= @event.created_at.strftime(" %H:%M %d.%m.%Y")