%ul.items.thumb
  - content.each do |item|
    %li.item{:category => "category_#{item.category_id}"}
      %img.icon{:src => '/1.jpeg', :width=>"65", :height=>"65"}
      .item_info 
        %span.item_name= item.name
        %p 
          %span= item.category.name
          %br
          %span= item.type.name
          %br
      .description
        = item.description if item.description
        %br
        = item.created_at.strftime(" %H:%M %d.%m.%Y")