= javascript_include_tag "behavior/projects/form_behavior"
= stylesheet_link_tag    "form", :media => "all"
= flash[:errors]

= form_for  project || Project.new,  :as => :project do |f|
  = f.label :category_id, 'Категория'
  = f.select :category_id, Category.all.map{|e| [e.name, e.id]}
  %br
  = f.label :type_id, 'Тип'
  = f.select :type_id, ['']
  %img.plus#project_type_plus_btn{:src => '/images/plus.png'}
  #project_new_type_fields.hidden
    = text_field_tag(:project_type_name, nil, :id => 'project_type_name',:placeholder => 'введите название типа')
    = f.submit "Добавить", :id => 'project_add_type'
  %br
  %br
  = f.label :name, 'Название'
  = f.text_field :name
  %br
  = f.label :description, 'Описание'
  = f.text_area :description, :class => "tinymce"
  %br
  = f.label :web_links, 'Источники'
  = f.text_area :web_links
  %br
  = f.label :picture, 'Изображение'
  = f.file_field :picture
  %br
  = f.submit "Сохраніть"