= javascript_include_tag "behavior/categories/category_page_behavior"
= javascript_include_tag "behavior/categories/filter_behavior"
= javascript_include_tag "behavior/_filters"
= render :partial => '/main/map_includes'
= javascript_include_tag "behavior/categories/map_behavior"

#filters.hidden{:data => "#{@filters.map{|e| e.to_json}}"}
.main_block
  #category_name{:data => @category.id}
    %span= @category.name
  .main_left
    .section_block
      %span Разделы
      %ul#sections 
        %li= link_to 'Статьи', section_path('article'), {:id => "article", :class => 'section'}
        %li= link_to 'События', section_path('event'), {:id => "event", :class => 'section'}
        %li= link_to 'Места', section_path('place'),{:id => "place", :class => 'section'}
        %li= link_to 'Проекты', section_path('project'), {:id => "project", :class => 'section'}

    = render :partial => 'main/filters', :locals => {:types => @types}
  .main_right
    .view
      %span= "Вид"
      %img.icon{:src => '/4.jpg'}
      %img.icon{:src => '/4.jpg'}
      %img.icon{:src => '/4.jpg'}
      %img.icon#map_show_btn{:src => '/6.png'}
    .content
      #map_block.hidden
        #map_close_btn
        #map_container
      .content_block
        %ul.items.table
        %ul.items.line
        = render :partial => '/articles/content', :locals => {:content => @article_content}
        = render :partial => '/events/content', :locals => {:content => @event_content}
        = render :partial => '/places/content', :locals => {:content => @place_content}
        = render :partial => '/projects/content', :locals => {:content => @project_content}
      / .person_content
      /   %ul.items.table
      /   %ul.items.line
      /   = render :partial => '/people/content', :locals => {:content => @people_content}
           